.NavBar-Wrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  color: #000;
  padding-top: 30px;
}

.NavBar-Title {
  font-weight: bold;
  font-size: 40px;
  padding-left: 1rem;
  /* color: rgba(87, 80, 80, 0.774); */
  color: #828384;
  transition: 0.7s color ease;
}

.NavBar-Title:hover {
  color: rgba(60, 67, 131, 0.247);
  text-decoration-line: none;
}

.NavBar-Link {
  padding: 0.8rem;
  font-size: 18px;
  color: #828384;
  transition: 0.7s color ease;
}

.NavBar-Link:hover {
  color: rgba(60, 67, 131, 0.247);
  text-decoration-line: none;
}
